<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../resources/favicon.svg" type="image/svg+xml"> 
    <title>Page Two - Coding Resources</title>
</head>
<body>
    <svg width="100%" height="300px" xmlns="http://www.w3.org/2000/svg">
        <rect x="10" y="10" width ="200" height="100" fill="blue" ></rect>

        <circle cx="150" cy="200" r="50" fill="green" ></circle>

        <polygon points="300,150 350,250 250,250" fill="red" ></polygon>
    </svg>

    <nav class="menu">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="two.html">Page Two</a></li>
            <li><a href="three.html">Page Three</a></li>
        </ul>
    </nav>


    <h1>Favorite Coding Resources</h1>

    <table>
        <caption>Top Coding Resources I've Found Useful</caption>
        <thead>
            <tr>
                <th>Coding Resource</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mozilla Developer Network</td>
                <td><a href="https://developer.mozilla.org/en-US/docs/Web" target="_blank">MDN Web Docs</a></td>
            </tr>
            <tr>
                <td>DigitalOcean Tutorials</td>
                <td><a href="https://www.digitalocean.com/community/tutorials" target="_blank">DigitalOcean Tutorials</a></td>
            </tr>
            <tr>
                <td>Stack Overflow</td>
                <td><a href="https://stackoverflow.com/" target="_blank">Stack Overflow</a></td>
            </tr>
        </tbody>
    </table>

</body>
</html>
